@model Vidly.ViewModels.CustomerViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>

<table class="table table‐bordered table-­hover”>">
    <thead>
        <th><h4>Customers</h4></th>
    </thead>
        @if (Model.Customers.ToString().Length == 0)
        {
<tr>
    <td>No customers found.</td>
</tr>
        }
        else
        {
            
            foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Index", "Customers", new {id = customer.Id},null)</td>
                </tr>
            }
        }
</table>

