@model Vidly.ViewModels.CustomerViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>

<table class="table table‐bordered table-­hover”>">
    <thead>
        <tr>
            <th><h4>Customer</h4></th>
            <th><h4>Discount rate</h4></th>
         </tr>
    </thead>
        <tbody>
            @if (Model.Customers.ToString().Length == 0)
            {
            <tr>
                <td>No customers found.</td>
            </tr>
            }
            else
            {

            foreach (var customer in Model.Customers)
            {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Index", "Customers", new {id = customer.Id},null)</td>
                <td>@customer.MembershipType.DiscountRate %</td>
            </tr>
            }
            }
            
        </tbody>
</table>

