@model Vidly.ViewModels.NewCustomerViewModel
@using Microsoft.Ajax.Utilities
@using Vidly.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        @if (Model.Customer.Id == null)
        { 
            <table class="table table‐bordered table-­hover”>">
            <thead>
                <tr>
                    <th><h4>Customers</h4></th>
                </tr>
            </thead>
            
            <tr>
                <td>No customers found.</td>
            </tr>
            </table>
        }
        else
        {
            <h1>@Model.Customer.Name</h1>
           
            <ul>
                <li>Membership Type: @Model.MembershipType.Name</li>
                @if (!Model.Customer.DateOfBirth.Equals(null))
                {
                    <li>Date of Birth @Model.Customer.DateOfBirth</li>
                }
            </ul>
        }

